/*Admin*/
.admin-wrapper{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #1d2327;
}

.admin-wrapper .navigator-wrapper{
    position: fixed;
    background-color: #1d2327;
    width: 250px;
    margin-top: 60px;
}

.admin-wrapper .content-wrapper{
    flex: 1;
    margin-left: 250px;
    margin-top: 60px;
    padding: 1.5rem;
}


/*Admin header*/
.admin-header{
    background-color: #1d2327;
    min-width: 100%;
    min-height: 60px;
    position: fixed;
}

.admin-header .logo{
    line-height: 60px;
    width: 250px;
    text-align: center;
    font-size: 2rem;
}

.admin-header .logo a{
    display: block;
    background-color: #000;
    color: #fff;
}


/*Admin navigator*/
.admin-nav ul{
    margin: 0;
    padding: 0;
}

.admin-nav ul li{
    margin: 0;
}

.admin-nav ul li a{
    color: #f0f0f1;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
    display: block;
    padding: 12px 12px;
}

.admin-nav ul li a:hover{
    color: #fff;
    background-color: #F576D9;
    padding-left: 18px;
}

.admin-active{
    color: #fff;
    background-color: #F576D9;
    padding-left: 18px !important;
}

.admin-nav ul li a span{
    width: 25px;
}


/*Admin content*/
.admin-main .content{
    background-color: #202225;
}

.admin-main .content h3{
    color: white;
    font-size: 2.6rem;
}

.admin-main .button,
.admin-main button{
    background-color: #F576D9;
    color: #fff;
    transition: all 0.4s ease-in-out;
    border: 0.1rem solid #F576D9;
}

.admin-main .button:hover,
.admin-main button:hover{
    background-color: #F576D9;
}

.admin-main td:first-child, 
.admin-main th:first-child {
    padding: 1.2rem 1.5rem;
}

.admin-main table th{
    font-size: 1.6rem;
    border-bottom: 1px solid #cecece;
}

.admin-main table td{
    font-size: 1.4rem;
    border-bottom: 1px solid #cecece;
    color: white;
}

.admin-main table td img{
    margin-top: 20px;
    margin-bottom: unset;
}

.admin-main table th a{
    color: #F576D9;
}

.admin-main p {
    color: white;
}

.actions{
    color: #F576D9;
}

.admin-main table td a{
    color: #F576D9;
}

.admin-main .paginator{
    margin-top: 1.5rem;
}

.admin-main .paginator p{
    margin-bottom: 0;
    font-size: 1.2rem;
}

.admin-main .paginator ul li a{
    color: #F576D9;
    font-size: 1.4rem;
}

.admin-main .related h4{
    color: #000;
}

.admin-main label{
    margin-bottom: 0.3rem;
    display: block;
}

.admin-main label,
.admin-main input,
.admin-main textarea{
    color: #000;
}

.admin-main input,
.admin-main textarea{
    font-size: 1.4rem;
}

.admin-main input[type="file"]{
    border: 0.1rem solid #d1d1d1;
    width: 100%;
    border-radius: 0.4rem;
    height: 3.8rem;
    padding: 0.6rem 1rem;
}

.admin-main fieldset > div{
    margin-bottom: 1.5rem;
}

.admin-main form button{
    width: 100%;
    font-size: 1.4rem;
}

.admin-main .text{
    font-size: 1.4rem;
}
.admin-main form #uploadImg{
    height: auto;
    width: 250px;
}

.admin-main .analytics-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.5;
    margin-right: -0.5;
}

.admin-main .analytics-wrapper > div{
    width: 19%;
    margin: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.admin-main .analytics-wrapper > div p{
    line-height: 100px;
    text-align: center;
    font-size: 20px;
}

.card {
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.card-title{
    font-size: initial;
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.l-bg-red-dark {
    background: linear-gradient(to right, #9D0303, #F94E4E) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.link-widget:hover{
  text-decoration: none;
}
.modal-close{
  color: #fff !important;
}

.modal-xxl{
  max-width: 1700px;
}

.move-left {
    width: 38px !important;
    box-shadow: none;
    border-radius: 0.25rem!important;
  }

.mfooter {
  height: 71px !important;
}